#wrapper {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#btn-wrapper {
    width: 60vw;
    height: 75vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#btn-wrapper button {
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    background-color: #2c3e50;
    color: #ecf0f1;
    box-shadow: grey 0px 3px 5px;

    font-size: 20px;
}