#color-picker {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    border-radius: 10px;
    width: 80vw;
    height: 50px;
    margin: auto;
    margin-top: 15px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.color-box {
    width: 8vw;
    height: 8vw;
    border: 1px solid var(--border-color);
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#card-inputs {
    height: 65px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input-text {
    height: 20px;
    width: 60vw;
    outline: none;
    border: none;
	border-bottom: 2px solid var(--main-bg-color);
	font-size: 16px;
	color: var(--second-text-color);
	margin-bottom: 10px;
    margin-top: 10px;
    
    transition: border-bottom 500ms, color 500ms;
}

.input-text:focus {
    border-bottom: 2px solid #3498db;
    color: var(--input-focus);
	
    transition: border-bottom 500ms, color 500ms;
}

.input-text::placeholder {
	color: var(--placeholder-color); 
}

#save-btn {
    padding: 20px;
    width: 60vw;
    margin: auto;
}

#save-btn button {
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    background-color: var(--main-button-bg);
    color: var(--main-button-text);
    box-shadow: grey 0px 3px 5px;

    font-size: 20px;
}
