#header {
    height: 6vh;
    margin: 0;
    padding: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 25px;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    box-shadow: grey 0px 3px 5px;
}

#btn-settings {
    background-color: var(--main-bg-color);
    color: white;
    border: none;
    outline: none;
}