<div id="collection-list">
  <div class="collection-card" *ngFor="let collection of collections; let i = index" data-id="{{ i }}">
    <div class="collection-info">
      <div class="collection-title">{{ collection.name }}</div>
      <div class="collection-length">{{ collection.cards.length }} cards</div>
    </div>

    <div class="collection-btn">
      <button class="btn-add" (click)="addCard(i)"> <fa-icon [icon]="faPlus" size="lg"></fa-icon> </button>
      <button class="btn-see" (click)="seeCards(i)"> <fa-icon [icon]="faEye" size="lg"></fa-icon> </button>
      <button class="btn-delete" (click)="deleteCollection(i)"> <fa-icon [icon]="faTrash" size="lg"></fa-icon> </button>
    </div>
  </div>

  <button id="btn-add-collection" (click)="addCollection()">New collection</button>
</div>