#collection-list {
    height: 88vh;
    margin-bottom: 20px;
    overflow-y: scroll;
}

.collection-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 80vw;
    margin: auto;

    padding: 8px 15px;

    
    margin-top: 15px;
    margin-bottom: 15px;

    color: var(--second-text-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: grey 0px 3px 5px;

}

.collection-info {
    width: 40vw;
}

.collection-title {
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.collection-length {
    margin-top: 5px;
    margin-bottom: 5px;
}

.collection-btn button {
    margin: 5px;
    margin-right: 0;
    outline: none;
    border: 1px solid var(--border-color);
    box-shadow: grey 0px 3px 5px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    color: var(--second-text-color);
    background-color: white;
}

#btn-add-collection {
    display: block;
    width: 60vw;
    margin: auto;
    margin-top: 10px;
    padding: 15px;
    outline: none;
    border: none;
    background-color: var(--main-button-bg);
    color: var(--main-button-text);
    box-shadow: grey 0px 3px 5px;

    font-size: 20px;
}