/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

:root {
	/* Background */
	--main-bg-color: #2c3e50;
	--second-bg-color: #ecf0f1;
	
	/* Text */
	--main-text-color: #ecf0f1;
	--second-text-color: #2c3e50;
	
	/* Border */
	--border-color: #bdc3c7;
	
	/* Input-text */
	--input-focus: #3498db;
	--placeholder-color: #95a5a6;
	
	/* Button */
	--main-button-bg: #2c3e50;
	--main-button-text: #ecf0f1;

	
	/* Flashcards */
    --fc-color-1: #2c3e50;
    --fc-color-2: #c0392b;
    --fc-color-3: #2980b9;
    --fc-color-4: #27ae60;
    --fc-color-5: #f39c12;
    --fc-color-6: #8e44ad;
}

body {
    font-family: Verdana, Arial;
    padding: 0;
    margin: 0;
}