/* You can add global styles to this file, and also import other style files */

/* CSS for Angular Notifier */
@import "~angular-notifier/styles";


body {
    font-family: Verdana, Arial;
    padding: 0;
    margin: 0;
}

#header {
    height: 6vh;
    margin: 0;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 25px;
    background-color: #2c3e50;
    color: #ecf0f1;
    box-shadow: grey 0px 3px 5px;
}